*{
	margin: 0;
	padding: 0;
}
body{
	font-family: 'Raleway', sans-serif;
	width: 100%;
}
li{
	list-style: none;
	display: flex;

}

a { 
    text-decoration: none; 

}
header{
	height: 150px;
    padding: 22px 0 ;
    background: linear-gradient(75deg, #363636, #20201f, #1f0b2c);

}
.header-container{
	margin: 0 auto;
	display: flex; 
	justify-content: space-between; 
}
.logo img {
	height: 170px;

}
.topcard img {
	height: 170px;

}
.header-container p{
	color: #88b53f;
	font-size: 25px;
	margin-right: 63px;
	padding: 27px 6px;
}
.header-container a{
	color: #88b53f;
	font-size: 25px;
	margin-right: 63px;
	padding: 27px 6px;
}

.header-container a:hover{
	border-radius: 100px;
	border: 0px solid ;
	box-shadow: inset 0px 0px 45px #00ff5a85;
}
#menu-checkbox{
	display: none;
}
ul{
	display: flex;
}
nav{
	margin-top: 20px;
}

.top-slide{
	/*background: url(images/base-body-bacground.jpg);*/
	background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
	padding-top: 120px;
	padding-bottom: 100px;
	text-align: center;
}

.top-slide h2{
	display: inline;
	font-size: 70px;
	border-radius: 25px;
	box-shadow: inset 0px 0px 35px #00FF7B;

}

.top-slide :nth-child(2){
	margin-bottom: 10px;
	padding: 4px;
	
}

.top-slide p{
	display: inline;
	font-size: 24px;
}

.top-container{
	text-align: left;
	width: 85%;
	padding: 0 13px;
}

.specilize{
	padding-bottom: 200px;
	background: linear-gradient(-45deg,  #35006f, #251e5d, #4f6871, #34bd9d);
    background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;
}

@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.specilize-container{
	width: 80%;
	margin: 0 auto;
	text-align: center;
}
.specilize-container h3{
	font-style: 35px;
}
.specilize-container p{
	font-weight: bold;
	font-size: 20px;
	font-weight: 24px;
	margin-bottom: 20px;
}
.first-p{
	font-style: 20px;
	color: #ffeb3b;
}
.bottom-card{
	position: relative;
	background: #414146;
	top: -30px;
}
.specilize-card{
	padding-top: 25px;
	display: flex;
	justify-content: space-between;
}
.top-paragraph{
	padding-top: 20px;
}
.specilize-card p{
	
	margin-top: 20px;
}

.form-login{
	color: #2962FF;
	align-content: center;
}
.login-container{
	align-content: center;
	text-align: center;
}

.brand-slider{
	width: 90%;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 100px;
}
.brand-slider h4{
	background: #424147;
	padding: 0 8px;
	font-size: 18px;
	display: inline-block;
	color: #f6e10a;
	margin-bottom: 30px;
}
.brand-slider p{
	color: #424146;
	font-size: 25px;
	margin-bottom: 40px;
}
footer{
	background: #414146;
	padding: 30px 0;
	color: #fff;
}
footer h4 {
	font-style: 18px;
}
.footer-container{
	margin-bottom: 40px;
	width: 90%;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 40% 60%;
	grid-column-gap: 3%;
}
.footer-container .about-us a{
	background: #000;
	color: #fff;
	font-size: 15px;
	padding: 10px;
	margin-top: 30px;
	margin-bottom: 40px;
	border-bottom: 2px solid #ff0;
	display: inline-block;
}
.contacts{
	display: flex;
	justify-content: center;
	align-items: center;
  }
.social{
	color: #fff;
	list-style: none;
	padding: 0;
	display: flex;
	justify-content: space-between;
	width: 550px;
  
  }
 
.social_item{
	width: 80px;
	height: 80px;
	border-radius: 50%;
	border: 5px solid #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 30px;
	transition: all 0.3s;
  }
.social a{
	color: #fff;
	transition: all 1.3s;
}
.vk:hover {
	color: #2962FF;
	border-color: #2962FF;
	box-shadow: 0px 0px 15px;
  }
.instagram:hover {
	color: #E91E63;
	border-color: #E91E63;
	box-shadow: 0px 0px 15px;
  }
.google:hover {
	color: #D50000;
	border-color: #D50000;
	box-shadow: 0px 0px 15px;
  }
.telegram:hover {
	color: #15aabf;
	border-color: #15aabf;
	box-shadow: 0px 0px 15px;
  }
  .vk:hover a{
	color: #2962FF;
  }
.instagram:hover a{
	color: #E91E63;
  }
.google:hover a{
	color: #D50000;
  }
.telegram:hover a{
	color: #15aabf;
  }

@media screen and ( max-width: 420px) {
	.header-container{
		width: 100%;
		display: flex;
		justify-content: space-around;
	}
	.main-menu{
		display: none;
	}
	.main-menu li{
		width: 100%;
		display: block;
		font-size: 21px;
	}
	.main-menu a{
		display: block;
		padding: 8px;
	}
	.toggle-button{
		font-size: 20px;
		text-align: center;
		display: block;
		cursor: pointer;
		color: #000;
		margin-top: 30px;
	}
	.toggle-button:after{
		content: attr(data-open);
		display: block;
	}
	#menu-checkbox:checked + nav[role="navigation"] .main-menu{
		display: block;
	}
	#menu-checkbox:checked + nav[role="navigation"] .toggle-button:after{
		content: attr(data-close);
	}
	.header-container a{
		margin-right: -70px;
	}
	.main-menu{
		position: relative;
		top: 5px;
		right: 90px;

	}

	.top-slide{
	padding-top: 40px;
	padding-bottom: 40px;
	}
	.top-slide h2 {
		font-size: 32px;

	}
	.top-slide p{
		font-style: 16px;
	}
	.specilize-container p{
		font-style: 16px;
	}
	.specilize-card{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	}
	.bottom-card{
		width: 250px;
		margin: 0 auto;
	}
	.posts{
	width: 90%;
	display: grid;
	margin: 0 auto;
	grid-template-columns: auto ;

	}
}

