{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/homepage.css' %}">
    <link rel="shortcut icon" href="{% static 'img/icon.ico' %}" type="image/x-icon">
</head>
<body>
    <header>
	 	<div class="header-container">
			<div onmouseover="logo()"se class="logo">
				<a href="/"><img src="{% static 'img/logo.png' %}" alt="logo"></a>
				
			</div>
			<input type="checkbox" id="menu-checkbox">
 			<nav role="navigation" class="navigation">
				<label for="menu-checkbox" class="toggle-button"
				data-open="MENU" data-close="CLOSE"></label>
 				<ul class="main-menu">
					<li><a href="/articles">О себе </a></li>
					<li><a href="/plan">Планы</a></li>
					<li><a href="/money">Money</a></li>
                    <li><a href="#">Портфолио</a></li>

					{% if user.is_authenticated %}
					<ul  class="ul-user" >
						<button><p>Hi {{ user.username }}!</p></button>
							<ul id="login" class="menu-login">
								<li><a href="{% url 'logout' %}">Log out</a></li>
								<li><a href="{% url 'password_change' %}">Change password</a></li>
							</ul>
					</ul>
                    {% else %}
						<li><a href="{% url 'login' %}">login</a></li>       
						<li><a href="{% url 'signup' %}">Sign up</a></li>  
                    {% endif %}
                


                </ul>
 					
 			</nav>
 		</div>
	</header>
	{% block content %}{% endblock %}
	

	<footer>
			<div class="footer-container">
				<div class="about-us">
					<h4>ABOUT US</h4>
					<p>Компания Intel официально анонсировала новейший процессор для настольных компьютеров – Core i9-9900KS с восемью вычислительными ядрами. По состоянию на 27 мая 2019 г. это самый мощный чип линейки Core, но ему по-прежнему недоступен 10-нанометровый техпроцесс, работу над которым Intel все никак не завершит.</p>
					<a target="_blank" href="https://www.cnews.ru/news/top/2019-05-27_intel_predstavila_samyj_moshchnyj_protsessor_core">Learn more</a>
					<a href="{% url 'login' %}">login</a>
				</div>
				<div class="contacts">
						<ul class="social">
							<li class="social_item vk">
								<a href="https://vk.com/id195668922" class="fab fa-vk" target="_blank"></a>
							</li>
							<li class="social_item google">
								<a href="https://www.google.com/ " class="fab fa-google" target="_blank"></a>		
							</li>
							<li class="social_item instagram">
							  <a onclick="no_link()" href="#" class="fab fa-instagram" ></a>
							</li>
							<li class="social_item telegram">
							  <a onclick="no_link()" href="#" class="fab fa-telegram-plane" ></a>
							</li>
						</ul>
				</div>
			</div>
		</footer>

	<script
  	src="https://code.jquery.com/jquery-3.4.1.min.js"
  	integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  	crossorigin="anonymous"></script>
	<script src="{% static 'js/homepage1.js' %}"></script>
</body>
</html>