{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/homepage.css' %}">
    <link rel="shortcut icon" href="{% static 'img/icon.ico' %}" type="image/x-icon">
</head>
<body>
    <header>
	 	<div class="header-container">
			<div onmouseover="logo()"se class="logo">
				<img src="{% static 'img/logo.png' %}" alt="logo">
			</div>
			<input type="checkbox" id="menu-checkbox">
 			<nav role="navigation">
				<label for="menu-checkbox" class="toggle-button"
				data-open="MENU" data-close="CLOSE"></label>
 				<ul class="main-menu">
					<li><a href="/articles">О себе </a></li>
					<li><a href="/plan">Планы</a></li>
					<li><a href="/money">Money</a></li>
                    <li><a href="#">Портфолио</a></li>

					{% if user.is_authenticated %}
					<ul  class="ul-user" >
						<button><p>Hi {{ user.username }}!</p></button>
							<ul id="login" class="menu-login">
								<li><a href="{% url 'logout' %}">Log out</a></li>
								<li><a href="{% url 'password_change' %}">Change password</a></li>
							</ul>
					</ul>
                    {% else %}
						<li><a href="{% url 'login' %}">login</a></li>       
						<li><a href="{% url 'signup' %}">Sign up</a></li>  
                    {% endif %}
                


                </ul>
 					
 			</nav>
 		</div>
	</header>
	{% block content %}{% endblock %}
	


	<script
  	src="https://code.jquery.com/jquery-3.4.1.min.js"
  	integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  	crossorigin="anonymous"></script>
	<script src="{% static 'js/homepage1.js' %}"></script>
</body>
</html>